trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  TF_VERSION: '1.6.6'
  WORKING_DIR: 'infra/envs/dev'

steps:
- checkout: self
  persistCredentials: true

- task: Bash@3
  displayName: Install Terraform
  inputs:
    targetType: inline
    script: |
      curl -sSL -o tf.zip https://releases.hashicorp.com/terraform/${TF_VERSION}/terraform_${TF_VERSION}_linux_amd64.zip
      sudo unzip -o tf.zip -d /usr/local/bin
      terraform version

- task: AzureCLI@2
  displayName: Terraform Init & Plan
  inputs:
    azureSubscription: '<service-connection-name>'
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      cd $(WORKING_DIR)
      terraform init -input=false
      terraform plan -out=tfplan

- task: AzureCLI@2
  displayName: Terraform Apply
  inputs:
    azureSubscription: '<service-connection-name>'
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      cd $(WORKING_DIR)
      terraform apply -auto-approve tfplan
