trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
# Checkout code from GitHub repo
- task: Checkout@v2
  displayName: "Checkout Terraform Code"

# Install Terraform
- task: TerraformInstaller@1
  inputs:
    terraformVersion: '1.8.0'

# Terraform Init
- task: TerraformTaskV4@4
  displayName: "Terraform Init"
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    backendServiceArm: 'AzureSPN'
    backendAzureRmResourceGroupName: 'tfstate-rg'
    backendAzureRmStorageAccountName: 'tfstateaccount'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'aks.tfstate'

# Terraform Plan
- task: TerraformTaskV4@4
  displayName: "Terraform Plan"
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    environmentServiceNameAzureRM: 'AzureSPN'

# Terraform Apply (Auto-Approve)
- task: TerraformTaskV4@4
  displayName: "Terraform Apply"
  inputs:
    provider: 'azurerm'
    command: 'apply'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    environmentServiceNameAzureRM: 'AzureSPN'
    args: '-auto-approve'
